---
import AuxPageLayout from "../../layouts/AuxPageLayout.astro";
---

<AuxPageLayout
  title="Guides"
  heading="Community Created Guides"
  subtext="Open Stick Community supports open source building, and is proud to showcase community guides to walk beginners through getting started and inspiring experienced builders."
>
  <div>guides page</div>
</AuxPageLayout>
