---
import AuxPageLayout from "../layouts/AuxPageLayout.astro";
---

<AuxPageLayout
  title="FAQ"
  heading="Frequently Asked Questions"
  subtext="Answers to the most commonly asked questions in the community."
>
  <div>faq page</div>
</AuxPageLayout>
