---
import Layout from "../layouts/PageWrapper.astro";
import Hero from "../components/Hero.astro";
import Glass from "../layouts/Glass.astro";
---

<Layout title="Welcome to the Open Stick Community!">
  <Glass>
    <main>
      <Hero />
    </main>
  </Glass>
  <div
    class="h-screen w-screen absolute border-2 -z-10 blur-lg flex justify-center items-center"
  >
  </div>
  <span
    class="absolute bg-gradient-to-br from-cyan-300 to-indigo-400 rounded-full h-[375px] -z-50 w-[375px]"
  >
  </span>
</Layout>
