---
import Layout from "../layouts/PageWrapper.astro";
import Hero from "../components/Hero.astro";
import Glass from "../layouts/Glass.astro";
import Hardware from "../components/Hardware.astro";
import LatencyChart from "../components/LatencyChart";
---

<Layout title="Welcome to the Open Stick Community!">
  <Glass>
    <main>
      <Hero />
      <Hardware />
    </main>
  </Glass>
  <!-- ******* BG Gradient accent ********* -->
  <span
    class="absolute bg-gradient-to-br from-cyan-500 via-teal-500 to-indigo-500 rounded-full h-[375px] -z-50 w-[375px]"
  >
  </span>
  <div class="my-20 min-h-[500px] w-full flex flex-col justify-start">
    <h2 class="text-center font-bold text-3xl mb-4">
      <span
        class="text-transparent bg-clip-text bg-gradient-to-b from-rose-500 via-amber-500 to-orange-500"
        >Blazingly Fast</span
      > Response Times
    </h2>
    <LatencyChart client:visible />
  </div>
</Layout>
