---
import Layout from "../layouts/PageWrapper.astro";
import Hero from "../components/Hero.astro";
import Glass from "../layouts/Glass.astro";
---

<Layout title="Welcome to the Open Stick Community!">
  <Glass>
    <main>
      <Hero />
    </main>
  </Glass>
  <div class="h-screen w-screen absolute border-2 -z-10 blur-xl"></div>
</Layout>
