---
import Layout from "../layouts/PageWrapper.astro";
import Hero from "../components/Hero.astro";
import Glass from "../layouts/Glass.astro";
---

<Layout title="Welcome to the Open Stick Community!">
  <main>
    <!-- <ThemeToggle client:load /> -->
    <Hero />
  </main>
  <div class="h-screen w-screen border-white absolute border-2 blur-xl"></div>
  <Glass />
</Layout>
