---
import AuxPageLayout from "../layouts/AuxPageLayout.astro";
---

<AuxPageLayout
  title="Showcase"
  heading="Who's using GP2040-CE?"
  subtext="Open Stick Community is one of the fastest growing communities in the peripheral makers ecosystem. GP2040-CE is trusted by dozens of designers, developers and creators as the chip of choice to power a variety of peripherals."
>
  <div>showcase</div>
</AuxPageLayout>
