---
import ThemeButton from "./ThemeButton.astro";
interface Props {
  text: string;
  buttonText: string;
  href: string;
}
const { text, buttonText, href } = Astro.props;
---

<div class="flex flex-col justify-center items-center gap-4 mt-20">
  <h3 class="text-2xl text-gray-600 dark:text-gray-400 font-bold">
    {text}
  </h3>
  <ThemeButton text={buttonText} href={href} />
</div>
