---
import Glass from "../layouts/Glass.astro";
import TextGradient from "./TextGradient.astro";
import ThemeButton from "./ThemeButton.astro";

const logo = "/osc-logo.png";
---

<section class="text-center relative">
  <div class="dark:bg-black/70 bg-slate-200/60 h-full w-full p-4">
    <div class="relative my-8">
      <img
        class="mx-auto motion-safe:animate-spin-slow"
        src={logo}
        height={250}
        width={250}
      />
      <div class="absolute top-0 bottom-0 right-0 left-0"></div>
    </div>
    <h1 class="text-4xl font-bold mb-4">
      Welcome to <TextGradient text="Open Stick" /> Community
    </h1>
    <p class="text-xl dark:text-gray-400 text-gray-600">
      A community of makers aiming to create accessable peripherals for everyone
    </p>
    <div class="flex gap-6 mt-8 justify-center items-center">
      <ThemeButton
        href="https://discord.com/invite/k2pxhke7q8"
        text="Join the community"
      />
      <ThemeButton
        href="https://gp2040-ce.info/#/"
        text="Learn More"
        alt={true}
      />
    </div>
  </div>
</section>
