---
import TextGradient from "./TextGradient.astro";
import ThemeButton from "./ThemeButton.astro";
---

<style>
  @import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
</style>

<section class="text-center relative">
  <div class="dark:bg-black/70 bg-slate-200/60 flex flex-col justify-between">
    <div
      class="relative mb-8 w-full flex justify-center items-center overflow-hidden flex-grow"
    >
      <img src="/GP2040-CE_4k.png" alt="gp2040-ce wallpaper graphic" />
    </div>
    <div>
      <h1 class="text-4xl font-bold mb-4">
        <span class="hidden sm:block">Welcome to</span>{" "}<TextGradient
          text="Open Stick"
        /> Community
      </h1>
      <p class="text-xl dark:text-gray-400 text-gray-600">
        A community of makers aiming to create accessible peripherals for
        everyone
      </p>
      <div class="flex gap-6 mt-8 justify-center items-center">
        <ThemeButton
          href="https://discord.com/invite/k2pxhke7q8"
          text="Join the community"
        />
        <ThemeButton
          href="https://gp2040-ce.info/#/"
          text="View Docs"
          alt={true}
        />
      </div>
    </div>
  </div>
</section>
