---
import TextGradient from "./TextGradient.astro";
import ThemeButton from "./ThemeButton.astro";
import logo from "/circuit-bg.svg";
---

<style>
  @import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
</style>

<section class="text-center relative">
  <div
    class="dark:bg-black/70 bg-slate-200/60 flex flex-col justify-between mt-4 h-[50vh]"
  >
    <div
      class="relative mb-8 w-full flex justify-center items-center overflow-hidden flex-grow"
    >
      <img
        class="bg-clip-text stroke-inherit bg-gradient-to-br from-rose-400 via-fuchsia-400 to-violet-400"
        alt="GP2040 logo background"
        src={logo}
      />
      <div
        class="absolute top-0 bottom-0 flex-grow right-0 left-0 z-10 shadow-[inset_0_0px_30px_30px_rgba(226,232,240,.90)] dark:shadow-[inset_0_0px_100px_100px_rgb(0,0,0,.75)] flex justify-center items-center"
      >
        <span class="text-4xl sm:text-6xl font-marker font-bold"
          ><TextGradient text="GP2040-CE" /></span
        >
      </div>
    </div>
    <div>
      <h1 class="text-4xl font-bold mb-4">
        <span class="hidden sm:block">Welcome to</span>{" "}<TextGradient
          text="Open Stick"
        /> Community
      </h1>
      <p class="text-xl dark:text-gray-400 text-gray-600">
        A community of makers aiming to create accessible peripherals for
        everyone
      </p>
      <div class="flex gap-6 mt-8 justify-center items-center">
        <ThemeButton
          href="https://discord.com/invite/k2pxhke7q8"
          text="Join the community"
        />
        <ThemeButton
          href="https://gp2040-ce.info/#/"
          text="View Docs"
          alt={true}
        />
      </div>
    </div>
  </div>
</section>
