---
import { vendors } from "../../utils/vendors";
---

<section
  class="rounded-2xl mx-auto bg-gradient-to-r from-rose-500 via-fuchsia-500 to-violet-500 p-0.5 shadow-xl mt-20 max-w-5xl"
>
  <div
    class="p-4 bg-slate-200 dark:bg-black w-full h-full flex flex-col gap-4 justify-center items-center rounded-2xl"
  >
    <h2 class="text-xl text-gray-600 dark:text-gray-400">
      Built with GP2040-CE
    </h2>
    <ul
      class="flex items-center justify-center gap-4 flex-wrap font-bold text-2xl"
    >
      {vendors.slice(0, 6).map((v) => <li>{v.name}</li>)}
    </ul>
  </div>
</section>
