---
const res = await fetch(
  "https://api.github.com/repos/OpenStickCommunity/GP2040-CE/releases/latest"
);
const data = res.json();
const version = data.tag_name;
console.log("data2", data);
---

<span
  class="text-transparent text-xs sm:text-base bg-clip-text bg-gradient-to-br from-cyan-500 via-teal-500 to-indigo-600"
>
  {version}
</span>
